* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #2c73d2, #4e70ce, #656dc8, #766ac2, #8467bc);
  background-size: cover;
}
